@font-face {
  font-family: 'Norse';
  src: url("../fonts/Norse-Bold.eot");
  src: url("../fonts/Norse-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Norse-Bold.woff") format("woff"), url("../fonts/Norse-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Norse';
  src: url("../fonts/Norse.eot");
  src: url("../fonts/Norse.eot?#iefix") format("embedded-opentype"), url("../fonts/Norse.woff") format("woff"), url("../fonts/Norse.ttf") format("truetype");
  font-weight: 400; }
h1 {
  font-family: 'Norse';
  font-weight: 400; }
