@import "../scss/fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container {
    width: 90vw;
    max-width: 1200px;
    min-height: 90vh;
    max-height: 90vh;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
}
.left {
    flex-basis: 38%;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
    &__text-wrap{
        grid-area: 3 / 1 / 4 / 2;
        width: 100%;
        height: 140px;
        background-color: rgba(8, 8, 8, 0.7);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 90px;
        height: 109px;
        margin-right: 15px;
        & img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    &__title {
        color: white;
        font-family: 'Norse';
        font-weight: 700;
        font-size: 91px;
        letter-spacing: 5.7px;
    }
    &__footer{
        grid-area: 7 / 1 / 8 / 2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    &__footer-text {
        color: hsl(200,0%,0%);
        font-family: 'Norse';
        font-weight: 700;
        font-size: 20px;
    }
}


.right {
    flex-basis: 62%;
    // border: 1px solid black;
}