@import "../scss/fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container {
    width: 90vw;
    max-width: 1200px;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
}
.left {
    flex-basis: 38%;
    // border: 1px solid black;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.right {
    flex-basis: 62%;
    // border: 1px solid black;
}